body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #ffc20f;
  color: #0c0c0c;
  padding-left: 150px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/*---------nav------------*/

nav {
  background-color: #ffd400;
  text-decoration: none;
  margin: 0px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li,
a {
  color: rgb(8, 8, 8);
  font-size: 12px;
}

nav ul li:nth-child(2) {
  height: 30px;
  padding: 0 8px;
  padding-top: 8px;
  background-color: #ffbc06;
  border-radius: 5px;
}
nav ul li:nth-child(2) i {
  margin-left: 6px;
}

nav ul li:nth-child(3) {
  position: relative;
}
nav ul li:nth-child(3) i {
  position: absolute;
  font-size: 15px;
  right: 12px;
  line-height: 30px;
  cursor: pointer;
}
nav ul li:nth-child(3) input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-left: 6px;
  outline: none;
}

nav ul li:nth-child(4) {
  height: 30px;
  padding: 0 8px;
  padding-top: 8px;
  background-color: #ffbc06;
  border-radius: 5px;
}
nav ul li:nth-child(4) button {
  background-color: #ffbc06;
  border: none;
}
nav ul li:nth-child(4) button i {
  align-items: center;
}

nav ul li:nth-child(5) {
  height: 30px;
  padding: 0 8px;
  padding-top: 8px;
  background-color: #ffbc06;
  border-radius: 5px;
}
nav ul li:nth-child(6) {
  display: inline-block;
}

.container {
  max-width: 1200px;
  margin: auto;
}

section {
  padding: 20px;
}

/*-----------address form------------ */

.address-form {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  z-index: 999;
}
.address-form-contend {
  width: 400px;
  height: 450px;
  background-color: #fff;
  border-radius: 5px;
}
.address-form-contend h2 {
  border-bottom: 1px solid #ddd;
  padding: 12px 0px;
  position: relative;
  font-size: 14px;
}
.address-form-contend h2 span {
  display: block;
  position: absolute;
  height: 30px;
  padding: 0 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  right: 12px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  line-height: 30px;
}
.address-form-contend form input,
select {
  height: 40px;
  display: block;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/*-----------menubar----------*/

.menu-bar {
  background-color: #ffd400;
  padding: 12px 0px;
  height: 200px;
  border-radius: 100%;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  position: relative;
}
.menu-bar ul {
  display: flex;
  justify-content: space-between;
}
.menu-bar ul li a {
  font-size: 13px;
}
.menu-bar ul li a i {
  font-size: 16px;
  margin-right: 6px;
}
.menu-bar-big-banner a img {
  max-width: 1200px;
  height: auto;
  position: absolute;
  transform: translateY(5%);
  object-fit: cover;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

/*-----------slider----------*/

li {
  list-style: none;
}
.slider {
  padding: 20px 0;
  height: 350px;
  position: relative;
}
.slider-contend {
  display: flex;
  justify-content: space-between;
  position: absolute;
  transform: translateY(-10%);
}
.slider-contend-left {
  width: 65%;
}
.slider-contend-left-top {
  width: 100%;
  height: 300px;
}
/* .slider-contend-left-top:hover i {
  opacity: 1;
} */
.slider-contend-left-bottom {
  display: flex;
  justify-content: space-between;
  border: 2px solid #dddd;
  border-top: none;
  height: 50px;
}
.slider-contend-left-bottom li {
  width: 20%;
  text-align: center;
  cursor: pointer;
  padding: 6px 0;
  height: 100%;
  line-height: 38px;
}
.slider-contend-left-bottom li.active {
  border-top: 4px solid #fff200;
}
.slider-contend-left-bottom li::before {
  display: block;
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  background-color: #ddd;
  right: 0;
}
.slider-contend-left-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-contend-right {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: space-around;
}
.slider-contend-right li {
  width: 50%;
  height: 50%;
  text-align: center;
  margin-bottom: 3px;
}
.slider-contend-right li img {
  width: 220px;
  height: 170px;
}
.slider-contend-left-top-arrow {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider-contend-left-top-arrow i {
  color: #333;
  font-size: 28px;
  border-radius: 5px;
  height: 50px;
  display: flex;
  background-color: #f4f3f3;
  align-items: center;
  transform: translateY(-50%);
  justify-content: center;
  width: 25px;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* -----------slider js----------- */
.slider-contend-left-top img {
  position: absolute;
}
.slider-contend-left-top a:nth-child(2) img {
  transform: translateX(100%);
}
.slider-contend-left-top a:nth-child(3) img {
  transform: translateX(200%);
}
.slider-contend-left-top a:nth-child(4) img {
  transform: translateX(300%);
}
.slider-contend-left-top a:nth-child(5) img {
  transform: translateX(400%);
}
.slider-contend-left-top-container{
  position: relative;
}
.slider-contend-left-top-container:hover{
opacity: 1;
}

/* ------------slider-product----------- */
.slider-product-st-content {
  background-color: #fed100;
  padding: 20px;
  color: #333;
  background-color: #d0021c;
  margin: 0px 0;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-width: 1200px;
}
.product-big-banner {
padding: 0px;
  width: 1200px;
}
.slider-product-st-content-items {
  display: flex;
  justify-content: space-evenly;
}
.slider-product-st-content-item {
  padding: 40px 12px 40px;
  width: 156px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px 0;
}
.slider-product-st-content-item:hover > img {
  transform: translateY(-10%);
}
.slider-product-st-content-item > img {
  width: 100%;
  transition: all 0.4s ease;
}
.slider-product-st-content-item-text {
  padding-top: 20px;
}
.slider-product-st-content-item-text li {
  padding-top: 20px;
}
.slider-product-st-content-item-text li:first-child {
  height: 30px;
  width: 70%;
}
.slider-product-st-content-item-text li:nth-child(4) i {
  color: #fb6e2e;
}
.price-and-discount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

/*----------footer-----------*/

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
