body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #ffd400;
  color: #0c0c0c;
  padding-left: 150px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header img {
  width: 100%;
  height: auto;
}

/*---------nav------------*/

nav {
  background-color: #ffd400;
  text-decoration: none;
  margin: 0px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

nav ul li,
a {
  color: rgb(8, 8, 8);
  font-size: 12px;
}

nav ul li:first-child {
  width: 15%;
}
nav ul li:first-child a img {
  max-width: 100%;
}
nav ul li:nth-child(2) {
  height: 25px;
  width: 6%;
  padding: 0 8px;
  padding-top: 8px;
  background-color: #ffbc06;
  border-radius: 5px;
}
nav ul li:nth-child(2) i {
  margin-left: 15%;
}

nav ul li:nth-child(3) {
  position: relative;
  width: 18%;
}
nav ul li:nth-child(3) i {
  position: absolute;
  font-size: 15px;
  right: 10px;
  top: 9px;
  cursor: pointer;
}
nav ul li:nth-child(3) input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  padding-left: 6px;
  outline: none;
}
nav ul li:nth-child(4) {
  height: 25px;
  width: 6%;
  padding: 0 0.7%;
  padding-top: 0.8%;
  background-color: #ffbc06;
  border-radius: 5px;
}
nav ul li:nth-child(4) button {
  background-color: #ffbc06;
  border: none;
}
nav ul li:nth-child(4) button i {
  align-items: center;
}

nav ul li:nth-child(5) {
  display: inline-block;
  height: 25px;
  width: 11%;
  padding: 0px 8px;
  padding-top: 8px;
  background-color: #ffbc06;
  border-radius: 5px;
}
nav ul li:nth-child(6) {
  display: inline-block;
  width: 5%;
}
nav ul li:nth-child(7) {
  display: inline-block;
  width: 5%;
}
nav ul li:nth-child(8) {
  display: inline-block;
  width: 5%;
}

.container {
  max-width: 1200px;
  height: auto;
  margin: auto;
}

section {
  padding: 20px;
}

/*-----------address form------------ */

.address-form {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
  z-index: 999;
}
.address-form-contend {
  width: 400px;
  height: 450px;
  background-color: #fff;
  border-radius: 5px;
}
.address-form-contend h2 {
  border-bottom: 1px solid #ddd;
  padding: 12px 0px;
  /* position: relative; */
  font-size: 14px;
}
.address-form-contend h2 span {
  display: block;
  /* position: absolute; */
  height: 30px;
  padding: 0 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  right: 12px;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  line-height: 30px;
}
.address-form-contend form input,
select {
  height: 40px;
  display: block;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/*-----------menubar----------*/

.menu-bar {
  background-color: #ffd400;
  padding: 12px 0px;
  height: 200px;
  border-radius: 100%;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  position: relative;
}
.menu-bar ul {
  display: flex;
  justify-content: space-between;
}
.menu-bar ul li a {
  font-size: 13px;
}
.menu-bar ul li a i {
  font-size: 16px;
  margin-right: 6px;
}
.menu-bar-big-banner a img {
  width: 100%;
  height: auto;
  position: relative;
  transform: translateY(5%);
  object-fit: cover;
  display: block;
  margin: 0 auto;
  padding: 20px 0;
}

/*-----------slider----------*/

li {
  list-style: none;
}
.slider {
  padding: 20px 0;
  height: 350px;
  position: relative;
}
.banner-top-zone-home {
  box-sizing: border-box;
  padding-bottom: 40px;
  margin-left: 8.4%;
  margin-right: 8.4%;
  height: 100px;
}
.banner-top-zone-home img {
  display: block;
  border-radius: 8px;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  position: relative;
  transform: translateY(32%);
}

/* .slider-contend {
  display: flex;
  justify-content: space-between;
  position: absolute;
  transform: translateY(-10%);
}
.slider-contend-left {
  width: 65%;
}
.slider-contend-left-top {
  width: 100%;
  height: 300px;
} 
.slider-contend-left-top:hover i {
  opacity: 1;
}
.slider-contend-left-bottom {
  display: flex;
  justify-content: space-between;
  border: 2px solid #dddd;
  border-top: none;
  height: 50px;
}
.slider-contend-left-bottom li {
  width: 20%;
  text-align: center;
  cursor: pointer;
  padding: 6px 0;
  height: 100%;
  line-height: 38px;
}
.slider-contend-left-bottom li.active {
  border-top: 4px solid #fff200;
}
.slider-contend-left-bottom li::before {
  display: block;
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  background-color: #ddd;
  right: 0;
}
.slider-contend-left-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-contend-right {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: space-around;
}
.slider-contend-right li {
  width: 50%;
  height: 50%;
  text-align: center;
  margin-bottom: 3px;
}
.slider-contend-right li img {
  width: 220px;
  height: 170px;
}
.slider-contend-left-top-arrow {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider-contend-left-top-arrow i {
  color: #333;
  font-size: 28px;
  border-radius: 5px;
  height: 50px;
  display: flex;
  background-color: #f4f3f3;
  align-items: center;
  position: absolute;
  transform: translateY(0%);
  justify-content: center;
  width: 25px;
  opacity: 0;
  transition: all 0.3s ease;
  cursor: pointer;
}  */

/* ---option promo--- */

.option-promo {
  display: flex;
  overflow: hidden;
  text-align: center;
  margin: 30px 0;
  border-radius: 12px;
  margin: 0 0 30px;
  position: relative;
  z-index: 1;
  transform: translateY(180%);
}
.option-promo li {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
  margin-right: 2%;
  width: calc(100% / 3 - 16px);
  margin-right: 20px;
  background-color: #fff;
  border-radius: 12px;
  padding: 15px 0;
}
.option-promo li img {
  display: inline-block;
  vertical-align: middle;
  height: 70px;
  width: auto;
}
.option-promo li span {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  color: #222;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  margin-left: 10px;
  max-width: 65%;
}
/* shopping trends */
.shopping-trends {
  display: block;
  overflow: hidden;
  margin: 0 0 30px;
  border-radius: 12px;
  background: linear-gradient(90deg, #ffecd2 0%, #fcb69f 100%);
}
.name-box {
  display: block;
  overflow: hidden;
  padding: 15px 22px;
  font-size: 22px;
  line-height: 36px;
  color: #333;
  text-transform: uppercase;
}
.shopping-trends ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  padding: 0 3% 3%;
  justify-content: space-around;
}
.shopping-trends ul li {
  position: relative;
  padding: 0.5% 0.5%;
}
.shopping-trends ul li span {
  position: absolute;
  bottom: 55px;
  left: 18px;
  font-size: 19px;
  line-height: 26px;
  color: #333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px;
  height: 24px;
}
.shopping-trends ul li img {
  display: block;
  max-width: 100%;
  height: auto;
}
.shopping-trends ul li strong {
  position: absolute;
  bottom: 24px;
  left: 18px;
  font-size: 17px;
  line-height: 20px;
  color: #2f80ed;
  font-weight: 500;
}

/* box cate */

.cate-feature {
  background-color: #fff;
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}
.cate-feature .box-cate {
  display: block;
  overflow: hidden;
  padding: 0 2%;
}
.cate-feature .box-cate aside {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
  margin-bottom: 16px;
  max-width: 100%;
}
.box-cate aside h3 {
  height: auto;
  padding: 0 0.2%;
}
.box-cate aside h3 a {
  display: block;
  overflow: hidden;
  color: #333;
  text-align: center;
  max-width: 100%;
  height: auto;
}
.img-boxcate {
  max-width: 100%;
  height: auto;
}
.box-cate aside h3 img {
  display: block;
  height: 56px;
  margin: auto;
  width: auto;
  height: 60px;
}
.box-cate aside h3 span {
  display: block;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  padding: 10px 5px;
}
/* -----------slider js----------- */
.slider-contend-left-top img {
  position: absolute;
}
.slider-contend-left-top a:nth-child(2) img {
  transform: translateX(100%);
}
.slider-contend-left-top a:nth-child(3) img {
  transform: translateX(200%);
}
.slider-contend-left-top a:nth-child(4) img {
  transform: translateX(300%);
}
.slider-contend-left-top a:nth-child(5) img {
  transform: translateX(400%);
}
.slider-contend-left-top-container {
  position: relative;
}
.slider-contend-left-top-container:hover {
  opacity: 1;
}

/* ------------slider-product----------- */
.product-big-banner {
  padding: 0px;
  width: 1200px;
}

/* first */
.slider-product-st {
  max-width: 100%;
  height: auto;
}
.slider-product-st-content {
  background-color: #fed100;
  padding: 20px;
  color: #333;
  background-color: #d0021c;
  margin: 0px 0;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-width: 100%;
  height: auto;
  position: relative;
}
.slider-product-st-banner img {
  width: 100%;
  height: auto;
}
.slider-product-st-content-container {
  position: relative;
  max-width: 100%;
  height: auto;
}
.slider-product-st-content-items {
  display: flex;
  justify-content: space-evenly;
  max-width: auto;
  height: auto;
}

/* .slider-product-st-content-items row {
  display: block;
}

.slider-product-st-content-items row :nth-child(2) {
  transform: translateX(100%);
}
.slider-product-st-content-items row :nth-child(3) {
  transform: translateX(200%);
} */

.slider-product-st-content-item {
  padding: 40px 12px 40px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  margin: 0.6% 0.6%;
}
.slider-product-st-content-item-img {
  max-width: 100%;
  height: 40%;
}
.slider-product-st-content-item-img:hover > img {
  transform: translateY(-10%);
}
.slider-product-st-content-item-img > img {
  max-width: 100%;
  transition: all 0.4s ease;
}
.slider-product-st-content-item-text {
  padding-top: 20px;
}
.slider-product-st-content-item-text li {
  padding-top: 20px;
  align-content: center;
}
.slider-product-st-content-item-text li:first-child {
  height: 30px;
  max-width: 70%;
  font-size: 14px;
}
.slider-product-st-content-item-text li:first-child:hover {
  color: #0b92f3;
}
.slider-product-st-content-item-text li:nth-child(2) {
  color: #d0021c;
  font-weight: bold;
}
.slider-product-st-content-item-text li:nth-child(3) span small {
  margin-left: 6px;
  background-color: #f8ded7;
  border-radius: 3px;
  color: #fb6e2e;
  font-size: 11px;
}
.slider-product-st-content-item-text li:nth-child(4) {
  font-size: 13px;
}
.slider-product-st-content-item-text li:nth-child(4) i {
  color: #fb6e2e;
}
.slider-product-st-content-item-text li:nth-child(5) {
  font-size: 12px;
}
/* arrow-button */
.theme-fs .slick-arrow.next-arrow {
  right: 0;
}
.slick-arrow.slick-disabled {
  pointer-events: none;
  opacity: 0.5;
}
.slick-arrow.prev-arrow {
  border-radius: 0 4px 4px 0;
}

.slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 60px;
  width: 31px;
  padding: 10px;
  border: none;
  left: -20px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px 0 0 4px;
  z-index: 1;
  cursor: pointer;
}

/* second */

.slider-product-second-content {
  background-color: #fed100;
  padding: 20px;
  padding-bottom: 5px;
  color: #333;
  background-color: #d0021c;
  margin: 0px 0;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-width: 100%;
}
.slider-product-second-content-container {
  position: relative;
}
.slider-product-content-arrow-btn {
  position: absolute;
  top: 49%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider-product-content-arrow-btn i {
  width: 25px;
  height: 50px;
  font-size: 32px;
  margin: 10px;
  color: #333;
  background-color: rgb(253, 242, 242);
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  border-radius: 5px;
  transition: all 0.3 ease;
  cursor: pointer;
  justify-content: center;
}
.slider-product-second-content-items {
  display: flex;
  justify-content: space-around;
}
.slider-product-second-content-item {
  padding: 40px 12px 40px;
  width: 20%;
  margin: 0.8% 0.8%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
}
.slider-product-second-content-item-text li:nth-child(2) {
  color: #d0021c;
  font-weight: bold;
}
.slider-product-second-content-item-text li:nth-child(3) span small {
  margin-left: 6px;
  background-color: #f8ded7;
  border-radius: 3px;
  color: #fb6e2e;
  font-size: 11px;
}
.slider-product-second-content-item-text li:first-child:hover {
  color: #0b92f3;
}
.slider-product-second-content-item-img {
  width: 100%;
  height: 40%;
}
.slider-product-second-content-item-img:hover {
  transform: translateY(-10%);

  transition: all 0.4s ease;
}
.slider-product-second-content-item-img img {
  width: 100%;
}
.slider-product-second-content-item-text {
  padding-top: 20px;
}
.slider-product-second-content-item-text li {
  padding-top: 20px;
}
.slider-product-second-content-item-text li:first-child {
  height: 30px;
  width: 70%;
}
.slider-product-second-content-item-text li:nth-child(4) i {
  color: #fb6e2e;
}
.slider-product-second-read-more-btn {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  color: #333;
  display: block;
  line-height: 16px;
  margin: 5px auto 5px;
  padding: 15px 10px 10px 10px;
  text-align: center;
  width: 280px;
  height: 24px;
}
.slider-product-second-read-more-btn button {
  border: none;
  background-color: #fff;
}

price-and-discount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

/*----------footer-----------*/

.site-footer {
  background-color: #fff;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer-content {
  background-color: #fff;
}
.site-footer-content li {
  font-size: 13px;
  background-color: #fff;
}
.site-footer-content p {
  font-size: 12px;
}
.row-footer {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer-content-more-inform p {
  font-size: 10px;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: black;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
  background-color: #fff;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: black;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.copyright-text {
  margin: 0;
}

/* *******************responsive******************** */

@media (max-width: 1239px) {
  .option-promo {
    display: none;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* grid system */

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* >= Tablet */
@media (min-width: 740px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .m-0 {
    display: none;
  }

  .m-1,
  .m-2,
  .m-3,
  .m-4,
  .m-5,
  .m-6,
  .m-7,
  .m-8,
  .m-9,
  .m-10,
  .m-11,
  .m-12 {
    display: block;
  }

  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .m-o-1 {
    margin-left: 8.33333%;
  }

  .m-o-2 {
    margin-left: 16.66667%;
  }

  .m-o-3 {
    margin-left: 25%;
  }

  .m-o-4 {
    margin-left: 33.33333%;
  }

  .m-o-5 {
    margin-left: 41.66667%;
  }

  .m-o-6 {
    margin-left: 50%;
  }

  .m-o-7 {
    margin-left: 58.33333%;
  }

  .m-o-8 {
    margin-left: 66.66667%;
  }

  .m-o-9 {
    margin-left: 75%;
  }

  .m-o-10 {
    margin-left: 83.33333%;
  }

  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC medium resolution > */
@media (min-width: 1113px) {
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .l-0 {
    display: none;
  }

  .l-1,
  .l-2,
  .l-2-4,
  .l-3,
  .l-4,
  .l-5,
  .l-6,
  .l-7,
  .l-8,
  .l-9,
  .l-10,
  .l-11,
  .l-12 {
    display: block;
  }

  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-o-1 {
    margin-left: 8.33333%;
  }

  .l-o-2 {
    margin-left: 16.66667%;
  }

  .l-o-3 {
    margin-left: 25%;
  }

  .l-o-4 {
    margin-left: 33.33333%;
  }

  .l-o-5 {
    margin-left: 41.66667%;
  }

  .l-o-6 {
    margin-left: 50%;
  }

  .l-o-7 {
    margin-left: 58.33333%;
  }

  .l-o-8 {
    margin-left: 66.66667%;
  }

  .l-o-9 {
    margin-left: 75%;
  }

  .l-o-10 {
    margin-left: 83.33333%;
  }

  .l-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
  .wide {
    width: 644px;
  }
}

/* > PC low resolution */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
  }

  .wide .row {
    margin-left: -12px;
    margin-right: -12px;
  }

  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .col {
    padding-left: 12px;
    padding-right: 12px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .wide .l-0 {
    display: none;
  }

  .wide .l-1,
  .wide .l-2,
  .wide .l-2-4,
  .wide .l-3,
  .wide .l-4,
  .wide .l-5,
  .wide .l-6,
  .wide .l-7,
  .wide .l-8,
  .wide .l-9,
  .wide .l-10,
  .wide .l-11,
  .wide .l-12 {
    display: block;
  }

  .wide .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .l-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .l-o-1 {
    margin-left: 8.33333%;
  }

  .wide .l-o-2 {
    margin-left: 16.66667%;
  }

  .wide .l-o-3 {
    margin-left: 25%;
  }

  .wide .l-o-4 {
    margin-left: 33.33333%;
  }

  .wide .l-o-5 {
    margin-left: 41.66667%;
  }

  .wide .l-o-6 {
    margin-left: 50%;
  }

  .wide .l-o-7 {
    margin-left: 58.33333%;
  }

  .wide .l-o-8 {
    margin-left: 66.66667%;
  }

  .wide .l-o-9 {
    margin-left: 75%;
  }

  .wide .l-o-10 {
    margin-left: 83.33333%;
  }

  .wide .l-o-11 {
    margin-left: 91.66667%;
  }
}
